
.table {
    display: grid;
    justify-content: start;
    align-items: start;
}

.symbol-icon {
    color:#ecf0f1;
    font-size: 18px;
    align-self: start;
    justify-self: start;
}


.table .symbol-table {
    margin: 0 0;
}